<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesare Date TradingView</title>
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/lucide@latest"></script>

</head>
<body class="bg-gray-100 flex h-screen flex flex-col md:flex-row min-h-screen">
    
    <!-- Include Sidebar -->
    <header id="sidebar" class="bg-gray-800 text-white p-5 md:w-64 md:min-h-screen flex md:flex-col gap-4 items-center md:items-start justify-between md:justify-start">
    <div hx-get="/sidebar" hx-trigger="load" hx-target="#sidebar"></div>
    
    </header>
     
    <!-- Conținut principal (se schimbă dinamic) -->
    <main id="main-content" class="flex-1 p-6 mx-auto max-w-4xl">
        <div hx-get="/instructions" hx-trigger="load" hx-target="#main-content" class="w-full max-w-full" ></div>
    </main>
    
    <script>
        document.addEventListener("htmx:afterSwap", function(event) {
            if (event.detail.target.id === "log-content") {
                let logElement = document.getElementById("log-content");
                logElement.scrollTop = logElement.scrollHeight;  // Derulează la capăt
            }
        });
        
        
    </script>
</body>
</html>
