<h1 class="text-lg md:text-xl font-bold text-center md:text-left w-full">TradingView XLSX</h1>
<nav class="flex md:flex-col gap-2 w-full justify-center md:justify-start">
        <button class="flex justify-center items-center w-full bg-blue-500 hover:bg-blue-600 py-2 rounded-lg"
                hx-get="/main" hx-target="#main-content">
                <i data-lucide="home" class="w-6 h-6 md:inline justify-center text-center"></i>
                <span class="hidden md:inline">&nbsp; Acasă</span>
        </button>

        <button class="flex justify-center items-center w-full bg-yellow-500 hover:bg-yellow-600 py-2 rounded-lg"
                hx-get="/instructions" hx-target="#main-content">
                <i data-lucide="book-open-text" class="w-6 h-6 md:inline justify-center text-center"></i>
                <span class="hidden md:inline">&nbsp; Instrucțiuni</span>
        </button>


        <button class="flex justify-center items-center w-full bg-green-500 hover:bg-green-600 py-2 rounded-lg"
                hx-get="/log" hx-target="#log-content" hx-trigger="click" onclick="redirectToMainAndLoadLog()">
                <i data-lucide="scroll-text" class="w-6 h-6 md:inline gap-2 justify-center text-center"></i>
                <span class="hidden md:inline">&nbsp; Vezi Log</span>
        </button>
</nav></br>

<script>
        function redirectToMainAndLoadLog() {
                let mainContent = document.getElementById("main-content");

                // Verifică dacă pagina curentă conține "Instrucțiuni"
                if (mainContent.innerHTML.includes("Instrucțiuni")) {
                        // Încărcăm mai întâi `main.html`, apoi log-ul
                        htmx.ajax('GET', '/main', { target: '#main-content' }).then(() => {
                                setTimeout(() => {
                                        htmx.trigger("#log-content", "refresh");
                                }, 500); // Mic delay pentru a aștepta încărcarea
                        });
                } else {
                        // Dacă suntem deja în `main.html`, doar încărcăm log-ul
                        htmx.trigger("#log-content", "refresh");
                }
        }
        lucide.createIcons(); // Activează iconițele

</script>